.wrapper {
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
}

.column {
  width: 50%;
  padding: .5rem 1rem;
  flex-direction: row;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .row {
    display: block;
  }

  .column {
    width: auto;
  }
}
