.wrapper {
  padding: 1.875rem;
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 0.625rem;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.11);
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .wrapper {
    padding: 1.1875rem 0;
  }
}
