.label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 600;
  color: #2a3b90;
}

.select {
  padding: .625rem 0;
  position: relative;
  width: 100%;
  font-size: 1rem;
  border: 0;
  outline: 0;
  border-radius: 0;
  background-color: transparent;
  border-bottom: .125rem solid #e0e0e0;
  -webkit-appearance: none;
}

.select:focus {
  border-bottom: .125rem solid #2a3b90;
}